.home{
    display:grid;
    grid-template-columns: 1fr 740px 1fr;
    grid-gap: 20px;
}

.right__sec{
    min-height: 100vh;
}

.left__sec{
    min-height:100vh;
}

.blog__sec{
    min-height:100vh;
}

.searchBox{
    text-align: center;
}

.searchInput{
    display: inline-block;
    box-shadow: 2px 2px 6px 0px rgba(142,142,142,1);
    border: none;
    border-radius: 4px;
    padding: .75rem;
    outline: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    width: 80%;
    max-width: 80%;
    line-height: 1;
}

.postCount {
    width: 40px;
    line-height: 40px;
    border: 0;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    display: inline-block;
    background-color: #ADD8E6;
    color: #2a2135;
    margin-left: 0.5em;
    font-weight: bold;
}

.logo-btn {
    background: transparent;
    border: none;
    outline: none;
    z-index: 200;
}
.logo-btn:hover {
    cursor: pointer;
}
.logo-icon {
    color: var(--mainBlack);
    font-size: 1.5rem;
    margin-right: 1rem;
}

@media screen and (min-width: 992px) {
    .logo-btn, .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .right__sec, .left__sec{
        display: none;
    }
    .mobile-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height: 50px;
    }
    .blog__sec{
        width: 100vw;
        min-height:100vh;
    }
}