.navbar{
    background: var(--primaryColor);
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
}
.brand-logo {
    width: 60px;
    height: 40px;
}
.logo-btn {
    background: transparent;
    border: none;
    outline: none;
}
.logo-btn:hover {
    cursor: pointer;
}
.logo-icon {
    color: var(--mainBlack);
    font-size: 1.5rem;
}

.nav-links {
    list-style-type: none;
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden;
}
.show-nav {
    height: 200px;
}
.nav-links a {
    display: block;
    padding: 1rem 1.25rem;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
    color: var(--mainWhite);
}
@media screen and (min-width: 576px) {
    .navbar {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 992px) {
    .logo-btn {
        display: none;
    }
    .nav-center {
        max-width: 100vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        height: auto;
        display: flex;
    }
}
